/* GLOBAL */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
.clear {
  clear: both;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 5px;
}
.line {
  background-image: url("../img/line.png");
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
}
/* HEADER  */
.header__logoImg {
  float: left;
}
.header__slogan {
  float: right;
  margin-right: 120px;
}
.header ul {
  list-style: none;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  padding: 15px 0;
}
.header a {
  text-decoration: none;
  color: #636363;
  text-transform: uppercase;
  font-size: 1.1vw;
  padding: 0 0.5em;
  font-weight: bold;
}
.header li {
  display: inline;
}
.header li:hover {
  border-bottom: 2px solid #b31c25;
}
.header__navbar ul .active {
  border-bottom: 2px solid #b31c25;
}
/* CAROUSEL */
.carousel {
  background-image: url("../img/slider_1.png");
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}
.intro p {
  text-align: center;
  color: #636363;
  line-height: 25px;
  padding: 0 25px;
}
/* PROGRAMS */
.programs__item {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.programs__item img {
  width: 100%;
}
.programs__item h3 {
  color: red;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0 5px;
}
.programs__item p {
  color: #636363;
  margin: 0;
  font-size: 14px;
}
/* NEWS */
.news {
  margin-bottom: 20px;
}
.news__left,
.news__right {
  float: left;
  width: 50%;
  padding: 0 5px;
}
.news__text img {
  width: 100%;
  display: block;
}
.news__text {
  position: relative;
}
.news__text p {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  padding: 15px 10px;
  margin: 0;
}
.news__text hr {
  margin: 0;
  height: 5px;
  background-color: red;
  margin-top: 3px;
}
.news__left .news__text p {
  font-size: 24px;
}
.news__small-item {
  float: left;
  width: 50%;
  padding: 0 8px 10px;
}

/* FOOTER  */
.footer {
  background-color: #b31c25;
  color: white;
  padding: 20px 50px;
}
.footer img {
  float: left;
}

.footer p {
  float: right;
  width: 50%;
  word-spacing: 2px;
  text-align: justify;
}
